.link {
    text-decoration: none;
    color: #fff;
}

.link__app {
    text-decoration: none;
    color: #007bff;
}

.block {
    margin-bottom: 30px;
}

.title {
    margin-bottom: 30px;
    margin-top: 50px;
}

.container__create {
    margin-top: 50px;
}
